$primary: #213d91;
$secondary: #329dff;
$dark: #333;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'ProximaSoft';
  font-weight: 400;
  font-size: 18px;
  color: $dark;
  height: 10000px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

span {
  display: inline-block;
}

li {
  list-style: none;
}

input {
  border: 0;
  background: none;
  outline: none;
}

textarea {
  border: 0;
  background: none;
  resize: none;
  outline: none;
}

button {
  border: 0;
  background: none;
  outline: none;
}
