.hero {
  padding-top: 139px;
  background: #f5ffec;
  width: 100%;
  overflow: hidden;
  &__container {
    position: relative;
    display: flex;
    align-items: center;
    height: 500px;
  }
  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 55px;
    color: $primary;
    max-width: 620px;
    width: 100%;
    margin-bottom: 25px;
  }
  &__desc {
    font-weight: 400;
    max-width: 478px;
    width: 100%;
    line-height: 27px;
    margin-bottom: 25px;
    text-align: justify;
  }
  &__bg {
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
  }
}
